{% extends 'base.html' %}

{% block titulo %}Lista de pacientes{% endblock titulo %}

{% block contenido %}
<h1>Lista de pacientes</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido paterno</th>
            <th>Apellido materno</th>
            <th>Fecha de nacimiento</th>
            <th>No. Seguro social</th>
            <th>Tipo de sangre</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        {% for paciente in object_list %}
        <tr>
            <td>{{paciente.nombre}}</td>
            <td>{{paciente.primerApellido}}</td>
            <td>{{paciente.segundoApellido}}</td>
            <td>{{paciente.fecha_nac}}</td>
            <td>{{paciente.numero_ss}}</td>
            <td>{{paciente.tipo_sangre}}</td>
            <td>
                <a title="Actualiza paciente" class="btn btn-warning" href="{% url 'pacientes:editar' paciente.id %}">
                    <i class="far fa-edit"></i>
                </a>

                
                    <a class="btn btn-danger" href="javascript:eliminarPacienteModal( '{% url 'pacientes:eliminar' paciente.id %}' )">
                        <i class="far fa-trash-alt"> </i>
                    </a>
              

            </td>
        </tr>
        {% endfor %}

        <td>
            <div class="col-4">
                <a title="Grafica" class="btn btn-success"
                    href="{% url 'pacientes:pacientes_graficas' %}">Grafica</a>
            </div>
            <div class="col-4">
                <a title="Reporte" class="btn btn-success" href="{% url 'pacientes:pdf' %}">Generar PDF </a>
            </div>
        </td>
    </tbody>
</table>

<nav aria-label="...">
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1" tabindex="-1" aria-disabled="true">&laquo; First</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1"
                aria-disabled="true">Previous</a>
        </li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
        {% if num == page_obj.number %}
        <li class="page-item active">
            <a class="page-link" href="#">{{ num }}<span class="sr-only">(current)</span></a>
        </li>
        {% else %}
        <li class="page-item">
            {% if num == 1 %}
            <a class="page-link" href="{{ profiles_1st_page_url }}">{{ num }}</a>
            {% else %}
            {% if num|add:"-3" <= page_obj.number and page_obj.number <= num|add:"3" %}
            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            {% elif num|divisibleby:"10" or num == page_obj.paginator.num_pages %}
            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
            {% endif %}
        </li>
        {% endif %}

        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}" tabindex="-1"
                aria-disabled="true">Next</a></li>
        <li class="page-item"><a class="page-link" ¨href="?page={{ page_obj.paginator.num_pages }}" tabindex="-1"
                aria-disabled="true">Last &raquo;</a></li>
        {% endif %}
    </ul>
</nav>



<button hidden id="btnModal" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Eliminar Paciente</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Vas a borrar al paciente, ¿Estas seguro?
        </div>
        <div class="modal-footer">
          <button type="button"  data-dismiss="modal"><a class="btn btn-default" href=""> Cancelar</a></button>
          <button type="button" ><a class="btn btn-primary" id="confirmaEliminacion" href=""> Eliminar</a></button>
        </div>
      </div>
    </div>
  </div>

  

<script>
    setTimeout(function(){
        if($('#msg').length > 0){
            $('#msg').remove()
        }
    },4000);

    function eliminarPacienteModal(url) {
        document.querySelector("#confirmaEliminacion").setAttribute('href',url);
        document.querySelector("#btnModal").click()
    }

</script>


{% endblock contenido %}